$bg-dark: hsl(336 0% 1%);
$bg: hsl(330 0% 4%);
$bg-light: hsl(0 0% 9%);
$text: hsl(0 0% 95%);
$text-muted: hsl(300 0% 69%);
$highlight: hsl(330 0% 39%);
$border: hsl(0 0% 28%);
$border-muted: hsl(300 0% 18%);
$primary: hsl(212 78% 73%);
$secondary: hsl(34 59% 62%);
$danger: hsl(9 26% 64%);
$warning: hsl(52 19% 57%);
$success: hsl(146 17% 59%);
$info: hsl(217 28% 65%);

MainMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: #444;
	background-color: $bg-dark;
	flex-direction: column;
	padding: 60px, 5%;
	color: $text;
	font-size: 48px;
	pointer-events: all;
	opacity: 0.85;
	backdrop-filter: blur(4px);
	font-family: Arial, Helvetica, sans-serif;

	.button
	{
		opacity: 1;
		padding: 15px, 20px;
		border-radius: 5px;
		// background-color: #00000071;
		background-color: $bg-light;
		cursor: pointer;
		font-weight: bold;
		
		&.reset
		{			
			justify-content: center;
			align-items: center;
			font-size: 20px;
			padding: 0;
			width: 25px;
			height: 25px;
		}
		
		&:hover
		{
			transition: all 0.15s ease;
			sound-in: ui.button.over;
			// background-color: #000000b1;
			background-color: $border;
			transform: scale(1);
		}
		
		&:active
		{
			transition: all 0.05s ease;
			sound-in: ui.button.press;
			// background-color: #000000d1;
			background-color: $highlight;
		}
		
		&.back
		{
			align-self: center;
		}
	}
}

.header
{
	.title
	{
		font-size: 92px;
		font-family: Poppins;
		font-weight: bold;
	}
}

.body
{
	flex-grow: 1;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	
	.buttons
	{
		flex-direction: column;
		gap: 10px;
		font-weight: bold;
		
		.button
		{
			&:hover
			{
				transform: scale(1.05);
			}
		}
	}
	
	.panel_background
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		backdrop-filter: blur(1px);
		background-color: $bg-dark;
		opacity: .8;
		
		.panel
		{			
			flex-direction: column;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// background-color: #0000004b;
			background: linear-gradient($bg-light, $bg);
			padding: 20px, 30px;
			border-radius: 5px;
			font-size: 28px;
		}

		.games
		{
			flex-direction: column;
			padding: 10px;
			gap: 20px;
		
			.button
			{
				padding: 10px;
				align-self: center;
				flex-direction: column;
				
				.icon
				{
					
				}
				
				.name
				{
					font-size: 32px;
					align-items: center;
				}
			}
		}
	
		.option
		{
			padding: 10px;
			justify-content: space-between;
			align-items: center;
			
			&.sens
			{
				.option
				{
					&.value
					{
						width: 56px;
						padding: 5px 10px;
						// background-color: #0000006d;
						background-color: $bg-dark;
						align-items: center;
					}
				}
			}

			&.name
			{
				width: 300px;
				color: $text-muted;
			}
			
			.adjuster
			{
				// background-color: #00000075;
				background-color: $bg-light;
				border-radius: 3px;
			}
			
			&.value
			{
				align-items: center;
				padding: 5px 10px;
				// background-color: #0000006d;
				background-color: $bg-dark;
				color: $text-muted;
			}
			
			&.adjust
			{
				padding: 12px;
				align-self: center;
				font-size: 16px;
				cursor: pointer;
				
				&:hover
				{
					transition: all 0.15s ease;
					sound-in: ui.button.over;
					// background-color: #00000082;
					background-color: $border;
				}
				
				&:active
				{
					transition: all 0.05s ease;
					sound-in: ui.button.press;
					// background-color: #000000b1;
					background-color: $highlight;
				}
			}
		}
		
		&.hidden
		{
			opacity: 0;
		}
	}
}
